In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Exercise 2.2

In [2]:
df = pd.read_csv('pregnancies.csv')
df

,Unnamed: 0,caseid,nbrnaliv,babysex,birthwgt_lb,birthwgt_oz,prglength,outcome,birthord,agepreg,finalwgt
0,0,1,1.0,1.0,8.0,13.0,39,1,1.0,33.16,6448.271112
1,1,1,1.0,2.0,7.0,14.0,39,1,2.0,39.25,6448.271112
2,2,2,3.0,1.0,9.0,2.0,39,1,1.0,14.33,12999.542264
3,3,2,1.0,2.0,7.0,0.0,39,1,2.0,17.83,12999.542264
4,4,2,1.0,2.0,6.0,3.0,39,1,3.0,18.33,12999.542264
...,...,...,...,...,...,...,...,...,...,...,...
13588,13588,12571,1.0,1.0,6.0,3.0,39,1,1.0,17.91,6269.200989
13589,13589,12571,NaN,NaN,NaN,NaN,6,2,NaN,18.50,6269.200989
13590,13590,12571,NaN,NaN,NaN,NaN,5,2,NaN,19.75,6269.200989
13591,13591,12571,1.0,1.0,7.0,8.0,39,1,2.0,21.58,6269.200989
13592,13592,12571,1.0,1.0,7.0,8.0,39,1,3.0,21.58,6269.200989